@* 
*@

@using System.Linq
@using Contract_Monthly_Claim_System.Models

@{
    ViewData["Title"] = "Dashboard";
    
    var coordinatorClaims = ViewBag.CoordinatorClaims as IEnumerable<Claim> ?? Enumerable.Empty<Claim>();

}
<div class="container">

    <!-- Dashboard Welcome Section -->
    <div class="dashboard-welcome">
        <h1><i class="fas fa-file-contract"></i> Contract Monthly Claim System</h1>
        <p>Welcome to the Contract Monthly Claim System </p>
    </div>
</div>